snippet pb
	push_back(${1})${2}
snippet mp
	make_pair(${1}, ${2})${3}
snippet sz
	size()${1}

snippet vi
	vector<int> ${1:v}
snippet vvi
	vector<int> ${1:g}[${2}]${3}
snippet pii
	pair<int, int> {1:p}


