snippet start "Template" !b
\documentclass[12pt,a4paper]{article}

\usepackage[utf8]{inputenc}
\usepackage[russian]{babel}

\pagestyle{empty}

\textwidth=16cm
\textheight=257mm
\oddsidemargin=5mm
\topmargin=-15mm

\begin{document}

${1}

\end{document}
endsnippet
