[submodule "bundle/Professional-colorscheme-for-Vim"]
	path = bundle/Professional-colorscheme-for-Vim
	url = https://github.com/vim-scripts/Professional-colorscheme-for-Vim
[submodule "bundle/manxome-foes-colorscheme"]
	path = bundle/manxome-foes-colorscheme
	url = https://github.com/vim-scripts/manxome-foes-colorscheme
[submodule "bundle/fog-colorscheme"]
	path = bundle/fog-colorscheme
	url = http://github.com/vim-scripts/fog-colorscheme
[submodule "bundle/xemacs-colorscheme"]
	path = bundle/xemacs-colorscheme
	url = https://github.com/vim-scripts/xemacs-colorscheme
